#raiden_de{
    border:solid;
    border-width: medium;
    border-radius: 7px;
    background-color: rgb(164, 104, 192);
    border-color: rgb(164, 104, 192);
    color: rgb(0, 0, 0);
    width: 700px;
    margin-left: 1050px;
    margin-top: -725px;
}
#zero_de{
    border:solid;
    border-width: medium;
    border-radius: 7px;
    background-color: rgb(189, 81, 131);
    border-color: rgb(189, 81, 131);
    color: rgb(0, 0, 0);
    width: 700px;
    margin-left: 1050px;
    margin-top: -825px;
}
#Ai_de{
    border:solid;
    border-width: medium;
    border-radius: 7px;
    background-color: rgb(223, 94, 154);
    border-color: rgb(223, 94, 154);
    color: rgb(0, 0, 0);
    width: 700px;
    margin-left: 1050px;
    margin-top: -700px;
}
#nezuko_de{
    border:solid;
    border-width: medium;
    border-radius: 7px;
    background-color: rgb(236, 140, 185);
    border-color: rgb(236, 140, 185);
    color: rgb(0, 0, 0);
    width: 700px;
    margin-left: 1050px;
    margin-top: -690px;
}
#aqua_de{
    border:solid;
    border-width: medium;
    border-radius: 7px;
    background-color: rgb(109, 153, 218);
    border-color: rgb(109, 153, 218);
    color: rgb(0, 0, 0);
    width: 700px;
    margin-left: 1050px;
    margin-top: -725px;
}
#mitsuri_de{
    border:solid;
    border-width: medium;
    border-radius: 7px;
    background-color: rgb(182, 93, 145);
    border-color: rgb(182, 93, 145);
    color: rgb(0, 0, 0);
    width: 700px;
    margin-left: 1050px;
    margin-top: -765px;
}